.menu-bg {
  background: #2e2e2e !important;
  border-top: 0.5rem solid rgb(136, 136, 136);
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
.container-fluid {
  padding-right: 1.75rem;
  padding-left: 1.75rem;
}

// HEADER
.port-navbar.port-nav-base {
  width: 100%;
  z-index: 15;

  .port-navbar {
    &-brand {
      color: rgb(199, 199, 199);

      font-size: 2em;
      font-weight: bold;
    }
    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: rgb(199, 199, 199);
      letter-spacing: 0.8px;
      font-size: 1rem !important;

      &.active {
        color: rgb(10 194 194);
      }

      &:hover,
      &:focus {
        color: rgb(10 194 194) !important;
        border: none;
      }
    }
  }
}

.port-dropdown-menu {
  background-color: #2e2e2e !important;
  border: none !important;

  .port-dropdown-item {
    color: white;
    text-align: center !important;
  }
  &.active {
    color: rgb(102, 102, 102);
  }
}
.port-dropdown-toggle {
  color: rgb(199, 199, 199);
  margin-left: 10px;
  margin-right: 10px;
}

.dropdown-menu.show {
  display: flex;
}

////--------- CUSTOMIZED HEADER ----------////
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
}

.navbar-toggler {
  padding: 0rem 0rem;
}

////--------- DEFAULT HEADER -------------////
.port-navbar.port-nav-base.port-nav-default {
  padding: 0.5rem !important;
}

.bg-transparent.menu-open {
  background-color: #2e2e2e !important;
}

.bg-transparent.menu-close {
  transition: 1;
}
.shift {
  padding-bottom: 28px;
}

//@MEDIA

@media (max-width: 768px) {
  .navspace {
    line-height: 18px !important;
  }

  .marjin {
    margin-top: -20px;
    /* margin-bottom: 4rem; */
  }
}
