// .navbar {
//   padding: 0.5rem 0 !important;
// }
.bgcolor {
  background-color: #2e2e2e !important;
  border-top: 0.5rem solid rgb(136, 136, 136);
  -webkit-font-smoothing: antialiased;
}
// img {
//   vertical-align: none !important;
// }

// HEADER
.port-navbar.port-nav-base {
  width: 100%;
  z-index: 15;

  span {
    color: rgb(199, 199, 199);
    align-items: center;
    display: flex;
  }
  //   padding: 40px;
  .mini {
    color: rgb(102, 102, 102);
  }

  .port-navbar {
    &-brand {
      color: rgb(199, 199, 199);

      font-size: 2em;
      font-weight: bold;
    }
    &-item {
      //   margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: rgb(199, 199, 199);
      letter-spacing: 0.8px;
      font-size: 1rem !important;

      &.active {
        color: rgb(10 194 194);
      }

      &:hover,
      &:focus {
        color: rgb(10 194 194);
      }
    }
  }
}

.port-dropdown-menu {
  background-color: #2e2e2e !important;
  .port-dropdown-item {
    color: white;
  }
  .port-dropdown-toggle {
    color: rgb(199, 199, 199);

    &.active {
      color: rgb(102, 102, 102);
    }
  }
}

// --------- DEFAULT HEADER -------------
.port-navbar.port-nav-base.port-nav-default {
  padding: 0.5rem !important;
  // padding: 0.5rem 0 !important;
  // background-color: $secondary !important;
}

.shift {
  flex-grow: 0;
}

@media (max-width: 768px) {
  .navspace {
    line-height: 18px !important;
  }

  .marjin {
    margin-top: -20px;
    /* margin-bottom: 4rem; */
  }
}
@media (max-width: 767px) {
  .mini {
    color: #333 !important;
  }
}
