.navbar {
  padding: 0.5rem 0 !important;
}
.bgcolor {
  background-color: #333 !important;
}
// img {
//   vertical-align: none !important;
// }

// HEADER
.port-navbar.port-default {
  width: 100%;
  z-index: 15;

  span {
    color: rgb(204, 204, 204);
    align-items: center;
    display: flex;
  }
  //   padding: 40px;
  .mini {
    color: rgb(102, 102, 102);
  }

  .port-navbar {
    &-brand {
      color: rgb(204, 204, 204);
      font-size: 24px;
      font-weight: bold;
    }
    &-item {
      //   margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: rgb(204, 204, 204);

      letter-spacing: 0.8px;
      font-size: 1rem !important;

      &.active {
        color: #ffa000;
      }

      &:hover,
      &:focus {
        color: #ffa000;
      }
    }
  }
}
.spa {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .navspace {
    line-height: 18px !important;
  }

  .marjin {
    margin-top: -20px;
    /* margin-bottom: 4rem; */
  }
}
@media (max-width: 767px) {
  .mini {
    color: #333 !important;
  }
}
