@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&Poppins:wght@700");

// PAGES
@import "./Home.module.scss";
@import "./portfolios";
@import "./blogs";

// COMPONENTS
@import "./header";
@import "./slate-editor";

* {
  margin: 0px;
}
html {
  // height: 100%;
  // width: 100%;
  // font-family: Lucida Grande, Lucida Sans, Lucida Sans Regular,
  //   Lucida Sans Unicode, Geneva, Verdana, sans-serif !important;
  font-family: "Nunito Sans", sans-serif !important;
  display: block !important;
}

body {
  font-family: "Nunito Sans", sans-serif !important;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  // display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns:
    minmax(1rem, 1fr) minmax(0, 1600px px)
    minmax(1rem, 1fr) !important;
  min-height: 100vh;
  background-color: #222;
  color: rgb(199, 199, 199);
}

a {
  text-decoration: none !important;
}
p {
  font-size: 1rem;
  color: rgb(199, 199, 199);
}

h2 {
  color: rgb(199, 199, 199);

  // color: #ccc;
}
h1 {
  color: rgb(199, 199, 199);
  // color: rgb(238, 238, 238);
}
// HEADER HI Color only
// color: rgb(238, 238, 238);
// PAGE Color and H2 ONLY!
// color: #ccc;
// FOOTER BACKGROUND
// background-color: rgb(17, 17, 17);
.clickable {
  cursor: pointer;
}
// .absolute {
//   position: absolute;
// }

.error {
  font-weight: 700;
  color: #ca486d;
}

// img {
//   vertical-align: initial !important;
// }

// GLOBAL HEADER
.base-page {
  padding: 50px 0 50px 0;
  background-color: #222;
  min-height: 100vh;
  color: rgb(199, 199, 199);
  //////////////////////
  //////////////////////

  .page-header {
    .page-header-title {
      color: rgb(199, 199, 199);
      display: inline-block;
      margin-bottom: 10px;
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
