.cover {
  background-image: var(--bgcover) !important;
  position: relative;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 0;
  position: relative;
}

// .main-section {
//   top: 150px;
//   width: 100%;
//   // padding: 95px 0 0;
// }

.content {
  overflow-y: auto;
  max-width: 90%;
  width: 850px;
  text-align: left;
}

h1 {
  max-width: 95%;
  padding: 0px;
  font-size: 80px;
  font-weight: 900;
  color: var(--gray);
}

a {
  text-decoration: none;
  color: var(--hover) !important;
}
a:hover {
  color: var(--color) !important;
}

hr {
  max-width: 100%;
}

.icon {
  cursor: pointer;
  display: inline-block;
  width: 1.5em;
  vertical-align: middle;
  color: var(--dgray);
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
#footer {
  text-align: center;
}
#footer,
p {
  line-height: 1.25em;
}
.space {
  margin: 20px !important;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 60px;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 40px;
    padding: 10px;
  }
}
